*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #d6eef2;
    margin-left: 5%;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

#search-container{
    margin: 1em 0;
}

#search-container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus{
    border-bottom-color: #174d4d ;
}

#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #05363d;
    color: #fff;
    border-radius: 4px;
    margin-top: 0.5em;
    font-weight: bolder;
    cursor: pointer;
}

.button-value{
    border: 2px solid #05363d;
    padding: 1em 2.2em;
    border-radius: 1em;
    background-color: transparent;
    color: #05363d;
    cursor: pointer;
    font-weight: bold;
}

.active{
    background-color: #174d4d;
    color: #fff;
}

#products{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    padding: 2em 0;
}

.card{
    background-color: transparent;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
    border-radius: 4px;
}

.img-container{
    text-align: center;
}

img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}